      <div class="row">
        <div class="col-md-offset-2 col-md-4">
          <div class="panel panel-success panel-default text-center">
            <div class="panel-heading">Rock</div>
            <div class="panel-body"><img src="http://localhost:3000/assets/images/rock.png" width="328"></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-danger text-center">
            <div class="panel-heading"><%= @computer_move.capitalize %></div>
            <div class="panel-body">
              <% if @computer_move == "rock" %>
                  <img src="http://localhost:3000/assets/images/rock.png" width="328"></div>
                <% elsif @computer_move == "scissors" %>
                  <img src="http://localhost:3000/assets/images/scissors.png" width="328"></div>
                <% elsif @computer_move == "paper" %>
                  <img src="http://localhost:3000/assets/images/paper.png" width="328"></div>
                  <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
      <div class="row">
        <div class="col-md-12">
        <div class="well text-center">
        <% if @computer_move == "rock" %>
          <h1>
            <span class= "label label-warning">You tied!</span>
          </h1>
        <% elsif @computer_move == "scissors" %>
        <h1>
          <span class= "label label-success">You won!</span>
        </h1>
        <% elsif @computer_move == "paper" %>
        <h1>
          <span class= "label label-danger">You lose!</span>
        </h1>
          <% end %>
          </div>
      </div>
    </div>
    </div>
